.textArea div p {
    font-family: 'GmarketSansMedium';
}

.cardPa:hover {
    transform: translate(-2px, -2px);
}
.cardPa:hover .cardCh {
    transform: translate(2px, 2px);
}

.cardCh, .cardPa {
    transition: transform 0.1s ease-in-out;
}

.cardButtonPa:hover{
    transform : translate(-2px, -18px)
}

.cardButtonPa {
    transition: transform 0.1s ease-in-out;
}
.truncatedText {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 두 줄까지만 표시 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* 넘치는 텍스트는 '...'으로 표시 */
}
