.textArea div p {
    font-family: 'GmarketSansMedium';
}

.cardPa:hover {
    transform: translate(-2px, -2px);
}
.cardPa:hover .cardCh {
    transform: translate(2px, 2px);
}

.cardCh, .cardPa {
    transition: transform 0.1s ease-in-out;
}

.cardButtonPa:hover{
    transform : translate(-2px, -18px)
}

.cardButtonPa {
    transition: transform 0.1s ease-in-out;
}